/*Author: the WordPress team
Author URI: https://wordpress.org
Description: Site Builder Theme 
Requires at least: 6.1
Tested up to: 6.2
Requires PHP: 5.6
Version: 1.1
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, accessibility-ready, blog, portfolio, news
*/

.msn-topbar p {
	display: inline-flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 12px;
}

@media only screen and (max-width: 768px) {
	body .is-layout-constrained > .alignwide {
		width: 100vw;
		margin-left: -1.5rem !important;
		margin-right: -1.5rem !important;
	}
}

header {
	top: var(--wp-admin--admin-bar--height);
	position: sticky;
	z-index: 10;
	background: var(--wp--preset--color--base);
}

.current-menu-item {
	color: #aaa;
}

@media only screen and (min-width: 600px) {
	.msn-topbar p {
		font-size: 14px;
	}

	.wp-block-search__input {
		min-width: 2rem;
		background: transparent;
		border: none;
		position: relative;
		width: 100%;
		cursor: pointer;
	}

	.wp-block-search__input::placeholder {
		opacity: 0;
	}

	.wp-block-search__inside-wrapper {
		position: relative;
		width: 2rem;
		border-radius: 99px;
		transition: width 300ms ease-in-out;
	}

	.wp-block-search__inside-wrapper:hover {
		background: #aecbde;
	}

	.wp-block-search__inside-wrapper::before {
		position: absolute;
		content: '';
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIj48cGF0aCBkPSJNNzk2LTEyMSA1MzMtMzg0cS0zMCAyNi02OS45NTkgNDAuNVQzNzgtMzI5cS0xMDguMTYyIDAtMTgzLjA4MS03NVExMjAtNDc5IDEyMC01ODV0NzUtMTgxcTc1LTc1IDE4MS41LTc1dDE4MSA3NVE2MzItNjkxIDYzMi01ODQuODUgNjMyLTU0MiA2MTgtNTAycS0xNCA0MC00MiA3NWwyNjQgMjYyLTQ0IDQ0Wk0zNzctMzg5cTgxLjI1IDAgMTM4LjEyNS01Ny41VDU3Mi01ODVxMC04MS01Ni44NzUtMTM4LjVUMzc3LTc4MXEtODIuMDgzIDAtMTM5LjU0MiA1Ny41UTE4MC02NjYgMTgwLTU4NXQ1Ny40NTggMTM4LjVRMjk0LjkxNy0zODkgMzc3LTM4OVoiLz48L3N2Zz4=');
		background-repeat: no-repeat;
		height: 100%;
		width: 2rem;
		right: 0;
		cursor: pointer;
		background-size: 25px;
		background-position: center;
	}

	.wp-block-search__inside-wrapper:focus-within {
		width: 8rem;
		border: 1px solid #bbb;
		background: #fff;
	}

	.wp-block-search__input:focus {
		border: none;
		cursor: text;
		background: transparent;
		outline: none;
	}

	.wp-block-navigation-item__content {
		padding: 3px 4px;
		border-radius: 99px;
	}

	.wp-block-navigation-item__content:hover {
		background: #aecbde;
	}

	.wp-block-post-title {
		display: inline-block;
		background: #fff;
		padding: 1rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}

.wp-block-latest-posts img {
	aspect-ratio: 16/9;
	object-fit: cover;
}

.wp-block-latest-posts li {
	transition: all 300ms ease-in-out;
}

.wp-block-latest-posts li:hover {
	background: #fff;
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.wp-block-latest-posts a.wp-block-latest-posts__post-title,
.wp-block-latest-posts time,
.wp-block-latest-posts .wp-block-latest-posts__post-excerpt {
	padding-left: 1rem;
	padding-right: 1rem;
}

.wp-block-post-title {
}

.wp-block-latest-posts__post-title {
	font-size: 1.5rem;
}

.wp-block-latest-posts time {
	font-size: 0.75rem;
	color: #aaa;
}

.msn-card {
	position: relative;
}

.msn-card .msn-card-content {
	width: 90%;
	left: 50%;
	transform: translate(0, -3rem);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
